<div class="achivment-wrapper">
    {{ content.field_bg_image }}
  <div class="container">
    <div class="py-5 position-relative z-2">
      {{ content.field_achivments_item }}
    </div>
  </div>
</div>

