.wrapper {
  position: relative;
  padding: 110px 0;
  background-color: #302822;
  z-index: 2;

  border-bottom: solid 5px #b79259;;

  @media (max-width: 1024px) {
    padding: 50px 0;
  }

  &::before {
    content: "";
    background-image: url('../../images/bg/about_lamp.png');
    background-position: left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.7;
  }

  .container {
    @media (max-width: 1024px) {
      max-width: 1024px;
    }

    .about {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 4;

      @media (max-width: 800px) {
        flex-direction: column;

      }

      &__text_block {
        flex: 1;
        padding-right: 60px;
        color: #f9f8f2;

        @media (max-width: 1024px) {
          padding-right: 40px;
        }
        @media (max-width: 800px) {
          margin-top: 30px;
          order: 2;
        }

        .about__text_title {
          font-size: 60px;
          line-height: 1;
          font-weight: 500;
          letter-spacing: 0;
          text-transform: capitalize;

          @media (max-width: 1024px) {
            font-size: 42px;
          }
        }

        .about__text_body {
          margin: 20px 0;

          h3 {
            font-family: Gilda Display;
            font-size: 36px;
            margin: 15px 0 10px;
            @media (max-width: 1280px) {
              font-size: 26px;
            }
            @media (max-width: 1024px) {
              font-size: 22px;
            }
            @media (max-width: 800px) {
              font-size: 30px;
            }

          }

          p {
            font-family: "Red Hat Display";
            font-size: 17px;
            @media (max-width: 1280px) {
              font-size: 17px;
            }
            @media (max-width: 1024px) {
              font-size: 14px;
            }
            @media (max-width: 800px) {
              font-size: 17px;
            }
          }

        }
      }

      &__img_block {
        display: flex;
        justify-content: center;
        flex: 1;
        position: relative;
        max-width: fit-content;



        @media (max-width: 1024px) {
          max-width: 325px;
          height: 520px;
        }
        @media (max-width: 800px) {
          order: 1;
          max-width: 100%;
          height: auto;

        }


        img {
          width: 100%;
          max-width: 580px;
          height: 100%;
          object-fit: cover;

          @media (max-width: 1280px) {
            max-width: 500px;
          }
          @media (max-width: 1024px) {
            max-width: 400px;
          }
          @media (max-width: 800px) {
            max-width: 700px;
          }
        }

      }
    }
  }
}

.is-visible {
  opacity: 0;
  transition: opacity 700ms ease-out;
}