@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-family-RH text-lg tracking-normal;
  }
}

@layer components {
  .slogan-dot {
    @apply relative after:absolute after:top-0 after:right-0 lg:after:translate-y-[70%]
    after:bg-theme-white2 after:rounded-full after:w-1.5 after:h-1.5 after:lg:w-2 after:lg:h-2 max-w-[155px] md:max-w-full;
  }

  .btn {
    @apply bg-theme-gold font-medium uppercase text-btn py-3 px-4
    hover:bg-theme-gold1;
  }

  .btn--tr {
    @apply bg-transparent  hover:text-theme-gold1 hover:bg-transparent;
  }


  .btn2 {
    a {
      @apply bg-theme-green hover:bg-theme-gold text-theme-white px-[26px] py-[16px] transition-colors;
    }
  }

  .menu-links > li > a:hover {
    @apply text-theme-gold;
  }

  .main-title {
    @apply font-family-GD uppercase leading-none text-theme-green my-3 text-[42px] lg:text-[56px] xl:text-[64px];
  }

  .main-subtitle {
    @apply font-family-PS leading-tight text-theme-gold text-[36px] lg:text-[50px];
  }

}
//
//.site-header {
//  transition: background 0.3s ease;
//
//  &--transparent {
//    @apply absolute top-0 left-0 w-full bg-transparent text-white;
//  }
//
//  &--green {
//    @apply relative bg-theme-green text-white;
//  }
//}

.hero__video {
  @apply absolute inset-0 w-full h-full object-cover z-0;

}
.hero__video-blur {
  @apply after:content-[''] after:absolute after:inset-0 after:bg-[rgba(0,0,0,0.5)] after:z-10 after:pointer-events-none;

}

.flex-center {
  @apply flex items-center justify-center;
}

header {
  @apply top-[calc(var(--drupal-displace-offset-top,0px))];
}

.scrollup header {
  @apply top-[calc(var(--drupal-displace-offset-top,0px))];
}

.scrolldown header {
  @apply -translate-y-full;
}

.scrolled header {
  @apply bg-theme-bg-green backdrop-blur-[6px] translate-y-0 transition-transform duration-300;
}

.secondMenu {
  @apply top-[calc(var(--drupal-displace-offset-top,0px)+96px)];
}

.scrolled .secondMenu {
  @apply top-[96px];
}

.footer::after {
  @apply absolute inset-0 bg-cover bg-center opacity-70;
  content: "";
  background-image: url('../images/bg/footer1.jpg');
  z-index: 0;
}

.footer::before {
  content: '';
  @apply absolute inset-0 bg-bg-black/80;
  z-index: 1;
}

.configPage {
  @apply text-[18px] font-medium;
  .field {
    @apply mb-3;
  }
}

.grid-card--img_set {
  @apply flex-1 bg-cover bg-center min-h-[320px] sm:min-h-[500px] md:min-h-[200px] lg:min-h-[250px];
}

.case-grid__item {
  img {
    @apply w-full max-h-[800px] md:max-h-[550px] lg:max-h-[450px] object-cover;
  }
}

.inner_title {
  @apply text-[24px] md:text-[20px] lg:text-[26px] xl:text-[32px] text-theme-white font-family-GD font-normal leading-[1.1]
}

.inner_bg {
  @apply cursor-pointer min-h-full;
  img {
    @apply transition ease-in-out duration-300;
  }

  &:hover {
    img {
      @apply md:transform md:scale-[1.2] ;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0));
    z-index: 5;
  }
}

.consultation-text-wrapper {
  @apply flex flex-col justify-between items-start md:items-center gap-5 md:flex-row py-8 px-5 md:px-7 lg:px-14
  bg-theme-green text-theme-white max-w-5xl min-w-full md:max-w-[740px] lg:max-w-[980px] xl:max-w-[1024px];
}

.consultation-link {
  @apply mt-6;

  a {
    @apply text-[15px] lg:text-[13px] xl:text-[15px] leading-[1.2]
    tracking-[0.5px] uppercase font-medium text-[#dbb478];
  }

}


.paragraph--type--client-reviews {

  .quota-subtitle {
    @apply font-family-PS text-[54px] md:text-[50px] lg:text-[64px] xl:text-[80px] leading-[1] font-medium
    text-theme-gold mb-3 md:mb-5;

  }

  .reviews-quota {
    @apply max-w-[1024px] px-5 mx-auto mb-5;

    .field--name-field-quote {
      @apply font-family-RH italic text-[26px] md:text-[22px] lg:text-[26px] xl:text-[30px] leading-[1.5] font-normal
      text-theme-green text-center;
    }
  }

  .quota-author-block {
    @apply flex gap-6 flex-col md:flex-row justify-center items-center;

    .field--name-field-author {
      @apply text-theme-green text-[36px] md:text-[22px] lg:text-[24px] xl:text-[36px] font-medium font-family-GD
      tracking-[0px] leading-[1.1] my-2;
    }

    .field--name-field-role-subtitle {
      @apply text-theme-gray font-family-RH italic text-[18px] md:text-[16px] lg:text-[18px] font-normal
      tracking-[0.5px] leading-[1.2] md:text-start;
    }
  }

  .field--name-field-additional-image {

    img {
      @apply rounded-full  min-w-full max-w-[115px] sm:max-w-[150px] md:max-w-[100px];
    }
  }
}


.node--type-posts {
  .layout--twocol-section {
    @apply flex flex-col md:flex-row;

    @apply mx-auto md:max-w-[1024px] lg:max-w-[1200px] xl:max-w-[1400px] py-16 xl:py-28;

    .layout__region--first {
      @apply md:px-3 px-5 lg:px-5 xl:px-6;

      .block-field-blocknodepoststitle {
        @apply mb-5;

        .field--name-title {
          @apply font-family-GD text-theme-green text-[36px] lg:text-[42px] xl:text-[60px] leading-[1.1] font-medium;
        }
      }

      .block-field-blocknodepostsuid {
        @apply inline-block;

        .field--name-uid {
          @apply text-theme-green font-bold leading-[1] tracking-[0.5px] text-[13px] md:text-[16px] capitalize;

          &:before {
            content: '';
            background-image: url("../images/icons/avatar.jpg");
            background-size: cover;
            width: 30px;
            height: 30px;
            display: inline-block;
            border-radius: 50%;
            object-fit: contain;
            vertical-align: middle;
            margin-right: 10px;

          }

          &:after {
            content: '-';
            display: inline-block;
            width: 10px;
            height: 10px;
            vertical-align: baseline;
            margin: 0 10px;
          }
        }
      }

      .block-field-blocknodepostscreated {
        @apply inline-block;

        .field--name-created {
          @apply text-theme-gray font-normal leading-[1] tracking-[0.5px] text-[13px] md:text-[16px] capitalize;
        }
      }

      .field--name-field-photo-main {
        @apply my-5;
      }
    }

    .layout__region--second {
      @apply md:px-3 lg:px-5 xl:px-6;
      .views-element-container {
        @apply sticky top-[100px]  md:max-w-[385px] py-5 md:py-[25px] px-5 md:px-[30px] bg-[#f7f4ed];
      }

      .latest-articles--title {
        @apply text-theme-gold text-[30px] md:text-[22px] lg:md:text-[26px] xl:text-[30px] leading-[1.1] font-bold mt-3 mb-5;
      }

      .view-display-id-block_1 {
        .views-field-title {
          @apply text-theme-green text-[26px] md:text-[17px] lg:text-[20px] xl:text-[26px] leading-[1.2] font-medium font-family-GD
          mb-[10px] md:mb-[6px] lg:mb-[10px] hover:text-theme-gold transition-colors;
        }

        .views-row {
          @apply pb-[10px] mb-[10px];
        }

        .views-field-created {
          @apply text-theme-gray text-[15px] md:text-[13px] lg:text-[15px] leading-[1] font-normal;
        }
      }
    }
  }
}

.layout--onecol {
  @apply mx-auto md:max-w-[1024px] lg:max-w-[1200px] xl:max-w-[1400px] my-10 md:my-20 px-6;

  .views-view-responsive-grid {
    @apply flex flex-col md:flex-row gap-10;
  }

  .related-posts--title {
    @apply text-theme-green  leading-[1.1] font-bold text-center mb-6 mt-3
    text-[30px] md:text-[36px] lg:text-[42px] xl:text-[48px];
  }

  .post-title {
    @apply text-theme-green text-start pt-6 text-[25px] md:text-[20px] lg:text-[25px] xl:text-[30px];
  }
}

/********FONTS********/
/*Red Hat Display*/
@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}