@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-family-RH text-lg tracking-normal;
    }
}

@layer components {
    .slogan-dot {
        @apply relative after:absolute after:top-0 after:right-0 lg:after:translate-y-[70%]
        after:bg-theme-white2 after:rounded-full after:w-1.5 after:h-1.5 after:lg:w-2 after:lg:h-2 max-w-[155px] md:max-w-full;
    }

    .btn{
        @apply bg-theme-gold font-medium uppercase text-btn py-3 px-4
        hover:bg-theme-gold1;
    }

   .menu-links > li > a:hover {
        @apply text-theme-gold;
    }
}

.flex-center {
    @apply flex items-center justify-center;
}

header{
  @apply top-[calc(var(--drupal-displace-offset-top,0px))];
}

.scrollup header {
  @apply top-[calc(var(--drupal-displace-offset-top,0px))];
}

.scrolldown header {
  @apply -translate-y-full;
}

.scrolled header {
  @apply bg-theme-bg-green backdrop-blur-[6px] translate-y-0 transition-transform duration-300;
}

.secondMenu{
  @apply top-[calc(var(--drupal-displace-offset-top,0px)+96px)];
}

.scrolled .secondMenu {
  @apply top-[96px];
}

.footer::after{
  @apply absolute inset-0 bg-cover bg-center opacity-70;
  content: "";
  background-image: url('../images/bg/footer1.jpg');
  z-index: 0;
}

.footer::before{
  content:'';
  @apply absolute inset-0 bg-bg-black/80;
  z-index: 1;
}

.configPage{
  @apply text-[18px] font-medium;
  .field{
    @apply mb-3;
  }
}
/********FONTS********/
/*Red Hat Display*/
@font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../fonts/RedHatDisplay-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}